.container #search select {
  height: 4vh;
  width: 10vw;
}
.container #search {
  align-self: center;
  width: auto;
  margin: 2rem;
}
.container #search select option {
  text-transform: capitalize;
}
.container .card-title {
  text-align: center;
  text-transform: capitalize;
}
.container .card {
  width: 30%;
  margin: 2rem;
}
.container.container-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 75%;
  margin-left: 25% !important;
}
